{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "arrowParens": "avoid",
    "trailingComma": "none",
    "[typescriptreact]": {
        "editor.formatOnSave": true
    },
    "[typescript]": {
        "editor.formatOnSave": true
    },
    "plugins": ["prettier-plugin-tailwindcss"]
}
